/* your-component.component.css or your-component.component.scss */

/* Style for the entire table */
.mat-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  /* Style for the table header */
  .mat-header-row {
    background-color: #e0e0e0; /* Header background color */
  }
  
  /* Style for the table cells */
  .mat-cell, .mat-header-cell {
    border-bottom: 1px solid #ccc; /* Border between rows */
    padding: 8px; /* Cell padding */
  }
  
  /* Style for even and odd rows */
  .mat-row:nth-child(even) {
    background-color: #f2f2f2; /* Even row background color */
  }
  
  .mat-row:nth-child(odd) {
    background-color: #ffffff; /* Odd row background color */
  }
  /* your-component.component.css or your-component.component.scss */

.mat-column-name {
    font-weight: bold;
    color: #0066cc;
  }
  button.mat-icon-button {
    background-color: transparent;
    color: #007bff; /* Change the color as needed */
  }
  
  button.mat-icon-button:hover {
    background-color: #e0e0e0; /* Change the hover background color as needed */
  }
  .alternate-row {
    background-color: #f5f5f5; /* Define the background color for alternate rows */
  }
  